* {
    margin: 0 !important;
    padding: 0;
    box-sizing: border-box;
}

/* ---------------------------------------------------- HEADER SECTION---------------------------------------------------- */
header {
    background-color: rgb(39, 40, 41, .5);
    border-width: 10vh;
    text-align: right;
    height: 10vh;
    width: 100%;
    position: fixed;

}

.nav {

    display: inline-block;
    padding-right: 5%;
    padding-top: 2%;
    font-size: large;
    align-items: center;
    text-decoration: none;

}

ul {
    list-style: none;
    text-align: right;
}

.nav a {
    align-items: center;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    color: white;
}

/* ---------------------------------------------------- HOME SECTION---------------------------------------------------- */



main {
    text-align: center;
}

.home {
    height: 100vh;
    padding-top: 12%;
    background-color: rgb(160, 196, 157, .2);

}

.name {

    font-size: 182px;
    font-family: cursive;
    color: white;
    text-shadow: 0 0 3px black, 0 0 5px black;
}

.slogan {
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
    font-weight: bold;
    color: black;
    text-shadow: 0 0 3px white, 0 0 5px white;
    padding-top: 3%;
}

/* ---------------------------------------------------- MENU SECTION ---------------------------------------------------- */
.gallery {
    display: flex;
    flex-wrap: wrap;
    padding-top: 5%;
    padding-left: 15vh;
    padding-right: 15vh;

}

.gallery-item {
    position: relative;
    overflow: hidden;
    flex: 0 0 33.33%;
    position: relative;
    box-sizing: border-box;
    padding: 1%;
}

.gallery-item img {
    object-fit: cover;
    width: 400px;
    height: 400px;
    border-radius: 5px;
    border: 1px solid black;
}

#menu {
    padding-top: 5vh;
    width: 100%;
    height: 150vh;
    font-family: 'Courier New', Courier, monospace;

}



#menu div h2 {

    font-size: 40px;
    font-weight: bold;
}
#menu div a {

    font-size: 30px;
    font-weight: bold;
}

#home_section {
    object-fit: cover;
    background-size: cover;
    background-repeat: no-repeat;
}

/* ---------------- MENU HOVER FEATURE ----------------------- */

    /* COFFEE */
    .coffee {
        width: 300px;
        /* Adjust the image width as per your requirement */
        height: auto;
        /* Maintain aspect ratio */
        transition: opacity 0.3s ease;
    }

    .coffeetext {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        color: black;
        text-align: center;
        padding-top: 50%;
        opacity: 0;
        transition: opacity 0.3s ease;
    }

    .gallery-item:hover .coffee {
        opacity: .5;
    }

    .gallery-item:hover .coffeetext {
        opacity: 1;
    }

    /* TEA */
    .tea {
        width: 300px;
        height: auto;
        transition: opacity 0.3s ease;
    }

    .teatext {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        color: black;
        text-align: center;
        padding-top: 50%;
        opacity: 0;
        transition: opacity 0.3s ease;
    }

    .gallery-item:hover .tea {
        opacity: .5;
    }

    .gallery-item:hover .teatext {
        opacity: 1;
    }

    /* PIZZA */
    .pizza {
        width: 300px;
        height: auto;
        transition: opacity 0.3s ease;
    }

    .pizzatext {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        color: black;
        text-align: center;
        padding-top: 50%;
        opacity: 0;
        transition: opacity 0.3s ease;
    }

    .gallery-item:hover .pizza {
        opacity: .5;
    }

    .gallery-item:hover .pizzatext {
        opacity: 1;
    }

    /* SANDWICH */
    .sandwich {
        width: 300px;
        height: auto;
        transition: opacity 0.3s ease;
    }

    .sandwichtext {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        color: black;
        text-align: center;
        padding-top: 50%;
        opacity: 0;
        transition: opacity 0.3s ease;
    }

    .gallery-item:hover .sandwich {
        opacity: .5;
    }

    .gallery-item:hover .sandwichtext {
        opacity: 1;
    }

    /* SALAD */
    .salad {
        width: 300px;
        height: auto;
        transition: opacity 0.3s ease;
    }

    .saladtext {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        color: black;
        text-align: center;
        padding-top: 50%;
        opacity: 0;
        transition: opacity 0.3s ease;
    }

    .gallery-item:hover .salad {
        opacity: .5;
    }

    .gallery-item:hover .saladtext {
        opacity: 1;
    }

    /* DESSERTS */
    .dessert {
        width: 300px;
        height: auto;
        transition: opacity 0.3s ease;
    }

    .desserttext {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        color: black;
        text-align: center;
        padding-top: 50%;
        opacity: 0;
        transition: opacity 0.3s ease;
    }

    .gallery-item:hover .dessert {
        opacity: .5;
    }

    .gallery-item:hover .desserttext {
        opacity: 1;
    }



/* ---------------------------------------------------- ABOUT SECTION ---------------------------------------------------- */

#about_section {
    background-color: black;
    color: white;
    height: 120vh;
    padding: 20%;
    padding-top: 3vh;
    text-align: justify;
    font-size: medium;
    font-family: 'Courier New', Courier, monospace;
}

.about h2 {
    font-size: 50px;
    text-align: center;
}



/* ---------------------------------------------------- CONTACT SECTION ---------------------------------------------------- */

#contactsection {

    display: flex;
    flex: 50%;
    flex-direction: row;
    height: 110vh;
    background-color: white;
    width: 100%;

}

.contactform {
    /* margin-left: 50vh !important; */
    margin: 20vh !important;
    /* background-color: grey; */
    align-self: center;
}

.formcontact {

    display: flex;
    flex-direction: column;
    height: 50vh;
}

.getintouch p a {
    text-decoration: none;
    color: black;
}

form input,
form textarea {
    width: 50vh;
    height: 5vh;
    font-size: 18px;
    margin: 5px !important;
    align-self: center;

}

#message {
    height: 30vh;
}

.submitb {
    background-color: white;
    font-size: 18px;
    width: 20vh;
    height: 5vh;
    align-self: center;
}

.submitb:hover {
    background-color: black;
    color: white;
    cursor: pointer;
}

.form1 {
    margin-top: 10vh !important;
    width: 70vh;
    height: 70vh;
    outline-style: dashed;
    outline-color: grey;
}

.form1 h3 {
    text-align: center;

}

.fa {
    padding: 15px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    border-radius: 98%;
    background-color: white;
    color: black;
    border: 2px solid black;

}

.fa:hover {
    opacity: 0.7;
}


.icons {
    padding-left: 20vh;
}

/* ---------------------------------------------------- FOOTER SECTION ---------------------------------------------------- */

footer {
    height: 10vh;
    width: 100%;
    text-align: center;
    padding: 3% 0;
    background-color: #171515;
    font-weight: 400;
    color: #fff;

}


/* ---------------------------------------------------- MEDIA QUERY FOR MOBILE ---------------------------------------------------- */

@media screen and (max-width: 480px) {
    /* home */

    .home {
        padding-top: 40vh;
    }

    .name {

        font-size: 50px;
        font-family: cursive;
        color: white;
        text-shadow: 0 0 3px black, 0 0 5px black;
    }

    .slogan {
        font-family: 'Courier New', Courier, monospace;
        font-size: 15px;
        font-weight: bold;
        color: black;
        text-shadow: 0 0 3px white, 0 0 5px white;
        padding-top: 3%;
    }

    /* ------------------ */

    /* MENU */

    #menu {
        height: 100vh;
    }

    #menu div h2 {
        font-size: x-large;
        text-align: center;
    }

    .gallery-item {
        flex: 50%;
        box-sizing: border-box;
        padding: 1%;
    }

    .gallery-item img {
        object-fit: cover;
        width: 190px;
        height: 190px;
        border-radius: 5px;
        border: 1px solid black;
    }

    .gallery {
        padding: 2%;
    }


    /* ---------------- */

    /* ABOUT */
    #about_section {
        height: 130vh;
        font-size: small;
        padding: 5%;
        padding-top: 2%;
    }

    .about h2 {
        font-size: x-large;
        text-align: center;
    }

    /* CONTACT */
    #contactsection {
        position: relative;
        display: flex;
        flex-direction: column-reverse;
        margin-top: 5vh !important;
    }

    .contactform {
        position: absolute;
        margin: 8% !important;
    }

    .logo {
        display: none;
    }

    .form1 {
        width: 50vh;
        margin-bottom: 10vh !important;
    }

    form input,
    form textarea {
        width: 45vh;
        height: 5vh;
    }

    .submitb {
        width: 15vh;
    }

    .icons {
        padding-left: 19vh;
        margin-bottom: 3vh !important;
    }

    footer {
        align-items: center;
        padding: 15%;
    }
}